@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
    margin: 0;
}

.navbar-welcome {
    position: fixed;
    width: 100%;
}

/* welcome */
.team {
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text {
    position: relative;
}

.main-text h1 {
    font-size: 165px;
    text-align: center;
    font-weight: bold;
}

.player-image {
    position: inherit;
}

.player-image img {
    width: 275px;
}

.houston-rockets {
    background: linear-gradient(to right, #CE1141 50%, #000000 50%);
}

.orlando-magic {
    background: linear-gradient(to right,#C4CED4 50%, #0077C0 50%);
}

.lakers {
    background: linear-gradient(to right,#000000 50%, #FDB927 50%);
}


/* formularios */
.card {
    margin-top: 15px;
}

#list-players {
    padding: 0rem;
}

.delete {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#git{
    margin-bottom: 3px;
    margin-left: 10px;
    width: 25px;
    margin-right: 30px;
    margin-top: 4px;
}